.section-center {
    padding: 4rem 0;
    width: 80vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  .about-img,
  .about-info {
    padding: 2rem 0;
  }

  h1 {
    font-size: 2rem;
  }
  
 
  
  /* section title global */
  .section-subtitle {
    font-size: 2rem;
    font-family:"Grand Hotel", cursive;
    letter-spacing: 0.5rem;
    text-transform: capitalize;
    color: blue;
  }
  .section-title {
    font-size: 2rem;
    text-transform: uppercase;
  }
  /* end of section title */
  
  .about-text {
    margin: 1rem 0;
    max-width: 26rem;
    font-size: 1.2rem;
  }
  
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
    .about-img,
    .about-info {
      float: left;
      width: 50%;
      padding: 2rem;
    }
  }
  